# dependências
node_modules/

# build
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# sistema
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp

# ambiente
.env
.env.local
.env.development
.env.production
.env.test

# cache do Vite
.vite/
